/*
.footer {
  text-align: center;
  padding: 15px;
  background-color: #e6f0ff;
  color: #333;
  margin-top: 30px;
}
*/
.footer {
  text-align: center;
  padding: 20px;
  background-color: #f8f9ff;
  color: #555;
  font-size: 14px;
  margin-top: 50px;
}
