/*.template1 {
  display: grid;
  grid-template-columns: 30% 70%;
  font-family: "Poppins", sans-serif;
  background: white;
  color: #333;
  min-height: 100%;
}

.sidebar {
  background: #283593;
  color: white;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.sidebar h3 {
  margin-top: 20px;
  font-size: 1.1rem;
}

.main-content {
  padding: 25px;
}

.main-content h3 {
  color: #283593;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-top: 20px;
}
*/

 adding refence
.resume-template {
  background-color: #ffffff;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #d7d6e6;
}

.header-info h1 {
  margin: 0;
  font-size: 26px;
  color: #dbd9f3;
}

.contact {
  margin: 2px 0;
  font-size: 14px;
  color: #f7f2f2;
}


.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 18px;
  color: #6c63ff;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 5px;
  margin-bottom: 10px;
}


.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-badge {
  background-color: #e0e0ff;
  color: #333;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 13px;
}


p {
  line-height: 1.5;
  font-size: 14px;
}